* {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Oswald;
  src: url("../public/font/Oswald-VariableFont_wght.ttf") format("truetype"); 
  font-size: 36px;
  font-weight: 400;
  line-height: 53px;
  letter-spacing: 0%;
  color: #000;
}
@font-face {
  font-family: Noto Sans;
  src: url("../public/font/NotoSans-VariableFont_wdth\,wght.ttf") format("truetype"); 

  
}
a {
  text-decoration: none;
  color: black;
}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  
}
li{
  font-family: 'Noto Sans';
}